/* ########## FONT ########## */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Rubik', sans-serif; */
html {
  --color-main: #007aff;
  --color-text: #333333;
  --color-text-lighter: #DDDDDD;
  --color-background: #fbfbfd;
  --font-text: "Rubik", sans-serif;
  --font-light: 300;
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 600;
  --fontitalic: italic;
  --nav-height: 60px;
}

/* ########## SPACING ########## */
.mrg-left {
  margin-left: 10px;
}

/* ########## NAVBAR ########## */
.navbar {
  background-color: black;
  color: white;
}

.navbar-brand {
  color: white;
}

.WebsiteTitle {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-size: 13px;
  margin-left: 100px;
}

/* ########## TYPO ########## */
.mainTitle {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}
